# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.TodoAPI.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Development\_Work\TodoAPI\.idea\.idea.TodoAPI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
